.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.main-header-class {
    padding: .75rem 1.25rem;
}

.secondary-header-class {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.pacjent_nagly {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 232, 232, 1) 50%, rgba(255, 0, 18, 1) 100%);
    border-left: 1px solid lightgray;
}

.pacjent_pilny {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 232, 232, 1) 50%, rgba(241, 255, 0, 1) 100%);
    border: 1px solid lightgray;
}

.message_unread {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 67%, rgba(148, 148, 148, 1) 100%);
    border: 1px solid lightgray;
}

.container-top {
    padding-top: 1rem;
}

.container-osw {
    padding-top: 1rem;
    vertical-align: middle;
}

.container-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.wybor_icd {
    width: 100%;
}

.form-control {
    margin-top: 0.5rem;
}

.load-history {
    margin-bottom: 1rem;
}

.message-holder {
    margin-bottom: 1rem;
}

.select2 {
    width: 100%!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.szukajka {
    height: 35px;
}

.icons {
    display: inline-flex;
    vertical-align: middle;
}

.addbutton {
    margin-left: 1rem;
}

.lista_wpisow {
    max-width: 20%;
}

.wpis:hover {
    cursor: pointer;
}

#tresc_wpisow {
    border-left: 1px solid rgb(199, 198, 198);
    height: 100vh;
}

.comment-sender {
    margin-bottom: 1rem;
}

.div-only-mobile {
    display: none;
}

.add_forum {
    cursor: pointer;
}

.back {
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}

.blad {
    text-align: center;
}

.oswiadczenie {
    margin-top: 0.5rem;
}

.osw {
    text-align: center;
}

@media (max-width: 750px) {
    .lista_wpisow {
        display: none;
    }
    .div-only-mobile {
        display: block;
    }
    .back {
        display: block;
    }
}